{% extends 'frontend/base.html'%}

<html>
{% block title %} - ABOUT - {% endblock %}

<body>
    {% block content %}
    <div style="background-color:#285f6f;" class="jumbotron">
        <h1 style="color:#eaecca;" class="display-3">ABOUT page</h1>
        <!-- <p class="lead">Jumbo helper text</p>
        <hr class="my-2">
        <p>More info</p> -->
        <br><br>
        <p align=center style="color:#eaecca; font-size:140%;" class="lead">
            This website is about encouraging people in different moods.
            <br>We trust , every moments should get empowers.
            <br>Let us encourage you.
        </p>


    </div>
    {% endblock %}
</body>

</html>