{% extends 'frontend/base.html'%}

<html>
{% block title %} - CONTACT - {% endblock %}

<body>
    {% block content %}
    <div style="background-color:#285f6f;" class="jumbotron">
        <h1 style="color:#eaecca;" class="display-3">CONTACT page</h1>
        <!-- <p class="lead">Jumbo helper text</p>
        <hr class="my-2">
        <p>More info</p> -->
        <br><br>
        <p align=center style="color:#eaecca; font-size:140%;" class="lead">
            Email : 61010413@kmitl.ac.th
        </p>

    </div>
    {% endblock %}
</body>

</html>