{% extends 'frontend/base.html'%}

<html>
{% block title %} - HOME - {% endblock %}

<body>
    {% block content %}
    <div style="background-color:#285f6f;" class="jumbotron">

        <h1 style="color:#eaecca;" class="display-3">EMOTION page</h1>
        <br>
        <p align=center class="lead">
        </p>

        <div>
            <form name="feeling" align=center class="lead">

                <p style="color:#eaecca; font-size:140%;" class="lead">What is your feeling ?</p><br>
                <input id="h" type="button" class="btn btn-primary btn-lg" style="background-color: #bb6315; color:#f6f7eb; border:none;" value="Happy" onClick="doEvent1();">
                <input id="s" type="button" class="btn btn-primary btn-lg" style="background-color: #bb6315; color:#f6f7eb; border:none;" value="Sad" onClick="doEvent2();">
                <input id="f" type="button" class="btn btn-primary btn-lg" style="background-color: #bb6315; color:#f6f7eb; border:none;" value="Fear" onClick="doEvent3();">
                <input id="a" type="button" class="btn btn-primary btn-lg" style="background-color: #bb6315; color:#f6f7eb; border:none;" value="Angry" onClick="doEvent4();">

                <br><br>
                <p style="color:#eaecca;" id="demo"></p>

                <script>
                    function doEvent1() {
                        document.getElementById("demo").innerHTML = "Are you happy ? <br> Keep going!!! You can do it";
                    }

                    function doEvent2() {
                        document.getElementById("demo").innerHTML = "Are you sad ? <br> Craft beer can fix you bad day!! <br> Let\'s hang out";
                    }

                    function doEvent3() {
                        document.getElementById("demo").innerHTML = "Are you fear ? <br> Look at the mirror and be proud of yourself <br> you are what you think!";
                    }

                    function doEvent4() {
                        document.getElementById("demo").innerHTML = "Are you angry ? <br> For every minute you are angry you lose 60 seconds of happiness <br> when you angry count to 10 before you speak if very angry count to 100";
                    }
                </script>

            </form>

        </div>
    </div>

    {% endblock %}
</body>


</html>